<div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="1%">
  <app-event
    fxFlex="24"
    fxFlex.lt-sm="48"
    *ngFor="let event of events"
    class="app-event"
    [id]="event.id"
    [title]="event.title"
    [description]="event.description"
    [organizer]="event.organizer"
    [address]="event.address"
    [date]="event.date"
  ></app-event>
  <div fxLayout="row" fxFlexAlign="center">
    <button mat-icon-button routerLink="new">
      <mat-icon class="app-add-button" color="primary">add</mat-icon>
    </button>
  </div>
</div>
<router-outlet></router-outlet>
